.App{
  text-align: center;
}
:root{
  --green-custom:#65a30d;
}
.App-header{
  margin: 2rem 1rem;
}
.header-text{
  color: var(--green-custom);

}
.buttons{
  display: flex;
  justify-content: center;
  text-align: justify;
}
.buttons-type{
  cursor: pointer;
  margin: auto 0.5rem;
  padding: 0.5rem;
  background-color: var(--green-custom);
  color: white;
  font-size: 1rem;
  outline: none;
  outline-style: none;
  border-radius: 0.2rem;
  border-style: none;
}
.book-list-container{
  max-width: 600px;
  margin: auto;
  text-align: start;
}
ul{
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.book-details{
  border: 1px solid gray;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  margin: 1.5rem 0;
}
