.App{
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.App-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.App-header>h1{
  margin-left:1rem;
}
.header-text{
  color: var(--green-custom);

}
.buttons{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: auto;
}
.buttons-type{
  text-align: center;
  cursor: pointer;
  margin: auto .5rem;
  padding: 0.5rem;
  background-color: var(--green-custom);
  color: white;
  outline: none;
  outline-style: none;
  border-radius: 0.2rem;
  border-style: none;
}
.book-list-container{
  max-width: 500px;
  margin: auto;
  text-align: center;
}
ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.book-details{
  display: flex;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}
.image-container{
  max-width:140px;
  padding: .5rem;
  text-align: center;
}
.book-description{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding:2rem 0 2rem  2rem;
}
.buy{
  color: white;
  background-color: var(--green-custom);
  outline-style: none;
  border-style: none;
  padding: 0.5rem 1.5rem;
  border-radius: .7rem;
}
.book-rating{
  color: white;
  background-color: var(--rating-color);
  border-radius: .5rem;
  padding: .3rem;
  font-size: x-small;
}
.nav-close{
  position: fixed;
  right: 0;
  top: 1;
  height: 35vh;
  background-color: rgb(66, 246, 129);
  width: 40vw;
  z-index: 999;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}
.nav-close>ul {
    list-style-type: none;
    padding: 0;
    margin: 3.5rem auto;
  }
.menu {
    display: none;
  }

@media only screen and (max-width :550px){
 
  .menu {
    display: block;
  }
  .menu:hover{
    cursor: pointer;
  }
  .nav-open{
    position: fixed;
    right: 0;
    top: 1;
    height: 35vh;
    background-color: rgb(66, 246, 129);
    width: 40vw;
    z-index: 999;
    transform: translateX(0%);
  transition: transform .5s ease-in-out;

  }
  .nav-open>ul {
    list-style-type: none;
    padding: 0;
    margin: 3.5rem auto;
  }
  .close {
    float: right;
    margin: 1rem 1rem;
    cursor: pointer;
  }
  a {
    color: black;
    padding: .6rem;
    display: block;
    font-size: 1.25rem;
    user-select: none;
  }
}
